<article class="container">
  <section class="about">
    <h1>Beer Inventory</h1>
    <h2> Here, you can:</h2>


    <input id="checkBox" type="checkbox" checked>
    <p>add new products to your list of stock. </p>
    <input id="checkBox" type="checkbox" checked>
    <p>edit details of existing products.</p>
    <input id="checkBox" type="checkbox" checked>
    <p>delete products from your list of stock.</p>
    </br>

    <div class="clear">
    <input id="checkBox" type="checkbox" checked>
    <p>add new manufacturers. </p>
    <input id="checkBox" type="checkbox" checked>
    <p>remove manufacturers.</p>
    <input id="checkBox" type="checkbox" checked>
    <p>assign manufacturers to stock items.</p>
    </br>

    <div class="clear">
    <input id="checkBox" type="checkbox" checked>
    <p>view your full stock list </p>
    <input id="checkBox" type="checkbox" checked>
    <p>view all of your stock based on categories</p>
    <input id="checkBox" type="checkbox" checked>
    <p>view all of your stock sorted by manufacturers</p>
    <input id="checkBox" type="checkbox" checked>
    <p>have a detailed view on your individual products</p>
    <input id="checkBox" type="checkbox" checked>
    <p>to view a calculated potential profit for all products</p>
  </section>

  <section class="about">
    <h1>Contact</h1>
    <h2> Please don't.</h2>
  </section>
</article>
