<article class="container">
  <section class="about">
    <h1>Beer Inventory</h1>
    <h2> Here, you can:</h2>


    <input id="checkBox" type="checkbox" checked>
    <p>add new items to their list of stock. </p>
    <input id="checkBox" type="checkbox" checked>
    <p>edit details of existing stock items in their list of stock. </p>
    <input id="checkBox" type="checkbox" checked>
    <p>delete items from their list of stock.</p>
    </br>

    <div class="clear">
    <input id="checkBox" type="checkbox" checked>
    <p>add new manufacturers. </p>
    <input id="checkBox" type="checkbox" checked>
    <p>remove manufacturers.</p>
    <input id="checkBox" type="checkbox" checked>
    <p>assign manufacturers to stock items.</p>
    </br>

    <div class="clear">
    <input id="checkBox" type="checkbox" checked>
    <p>view all of their stock on a single page.</p>
    <input id="checkBox" type="checkbox">
    <p>to view a calculated mark up for all items.</p>
    <input id="checkBox" type="checkbox" checked>
    <p>create a filter dependant on the stock item's manufacturer</p>
  </section>

  <section class="about">
    <h1>Contact</h1>
    <h2> Please don't.</h2>
  </section>
</article>
