<article class="container">
  <div class="flex-container">
      <% for category in @categories%>
        <div class="image">
          <a href="/categories/<%= category.id%>">
            <% if category.image == "" %>
              <img src="/img/categories/no-image.png"/>
            <% elsif category.image != nil %>
              <img src="/img/categories/<%= category.image%>"/>
            <% end %>
              <p> <%= category.name %> </p>
            </a>
        </div>
      <% end %>
  </div>
</article>
