<article class="container">
  <div class="flex-container">
      <% for category in @categories%>
        <div class="image">
          <a href="/categories/<%= category.id%>">
            <img src="/img/<%= category.color%>.png"/>
              <p> <%= category.name %> </p>
            </a>
        </div>
      <% end %>
  </div>
</article>
