<nav id="menu">
  <ul>
      <li>
          <a href="#">View Stock</a>
          <ul class="hidden">
              <li><a href="/main/full_stock">Full Stock</a></li>
              <li><a href="/main/stock_levels">Stock Levels</a></li>
              <li><a href="/main/categories">Categories</a></li>
          </ul>
      </li>
      <li>
          <a href="#">Sales</a>
          <ul class="hidden">
              <li><a href="#">Targets</a></li>
              <li><a href="#">Waste</a></li>
          </ul>
      </li>
      <li><a href="#">Messages?</a></li>
      <li><a href="manufacturers">Manufacturers</a></li>
      <li><a href="/">Log Out!</a></li>
  </ul>
</nav>
<article class="container">
  <h1> Here's all your stock listed </h1>
  <div class="flex-container">
      <% for product in @products %>
        <div class="image">
            <img src="/img/no-image.gif"/>
            <p> <a href="/products/<%= product.id%>"> <%= product.name %> </a></p>
        </div>
      <% end %>
  </div>
</article>
