<nav id="menu">
  <ul>
      <li>
          <a href="#">View Stock</a>
          <ul class="hidden">
              <li><a href="/main/full_stock">Full Stock</a></li>
              <li><a href="/main/stock_levels">Stock Levels</a></li>
              <li><a href="/main/categories">Categories</a></li>
          </ul>
      </li>
      <li>
          <a href="#">Sales</a>
          <ul class="hidden">
              <li><a href="#">Targets</a></li>
              <li><a href="#">Waste</a></li>
          </ul>
      </li>
      <li><a href="#">Messages?</a></li>
      <li><a href="manufacturers">Manufacturers</a></li>
      <li><a href="/">Log Out!</a></li>
  </ul>
</nav>
<article class="container">
  <h1> Here's all your stock listed </h1>
    <div class="flex-container">
      <div class="image">
        <a href="/main/full_stock">
          <img src="/img/no-image.gif"/>
          <div class="text">Milk 1L</div>
        </a>
      </div>
      <div class="image">
        <a href="/main/stock_count">
          <img src="/img/no-image.gif"/>
          <div class="text">Flour 1kg</div>
        </a>
      </div>
      <div class="image">
        <a href="/main/waste">
          <img src="/img/no-image.gif"/>
          <div class="text">Carrot</div>
        </a>
      </div>
    </div>
</article>
