<nav id="menu">
  <ul>
      <li><a href="#">Home</a></li>
      <li>
          <a href="#">MENU</a>
          <ul class="hidden">
              <li><a href="#">Food</a></li>
              <li><a href="#">More Food</a></li>
          </ul>
      </li>
      <li>
          <a href="#">Stock</a>
          <ul class="hidden">
              <li><a href="#">All Stock</a></li>
              <li><a href="#">Categories</a></li>
          </ul>
      </li>
      <li><a href="#">???</a></li>
      <li><a href="#">Contact</a></li>
  </ul>
</nav>
<article class="container">
  <h1> Here's all your stock listed </h1>
    <div class="flex-container">
      <div class="image">
        <a href="main/full_stock">
          <img src="/img/no-image.gif"/>
          <div class="text">Full Stock List</div>
        </a>
      </div>
      <div class="image">
        <a href="main/stock_count">
          <img src="/img/no-image.gif"/>
          <div class="text">Stock Count</div>
        </a>
      </div>
      <div class="image">
        <a href="main/waste">
          <img src="/img/no-image.gif"/>
          <div class="text">Waste</div>
        </a>
      </div>
    </div>
</article>
