<article>
  <img src="img/open.png" alt="open sign for shops" id="login_image"/>
</article>
<div class="button_div">
  <form method="get" action="/full_stock">
      <p><input type='submit' value="Enter Wonderful Inventory"/></p>
  </form>
</div>
