<article>
  <section id="login_image">
      <img src="img/open.jpg" alt="hand pouring pint of beer"/>
      <span class="button_div">
        <form method="get" action="/products">
            <p><input type='submit' value="Enter Wonderful Inventory"/></p>
        </form>
      </span>
  </section>
</article>
