<article>
  <p> words.. and more words </p>
</article>
<div class="button_div">
  <form method="get" action="/main">
      <p><input type='submit' value="Enter Wonderful Inventory"/></p>
  </form>
</div>
