<article>
  <section id="login_image">
      <img src="img/open.png" alt="open sign for shops"/>
  </section>
</article>
<div class="button_div">
  <form method="get" action="/products">
      <p><input type='submit' value="Enter Wonderful Inventory"/></p>
  </form>
</div>
