<article>
  <section id="login_image">
      <span class="button_div">
        <form method="get" action="/products">

            <input type='submit' value="Enter"/>
        </form>
      </span>
  </section>
</article>
