<!DOCTYPE html>
<html>
  <head>
    <title>INVENTORY</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <div class="main-container">
     <header id="header">
            <!-- <h1>Welcome to PC (product counter)</h1> -->
     </header>
     <main>
         <%= yield %>
     </main>
     <footer class="footer">
         © Adri Forczek
         <section id="sitemap">
           <ul>
             <li>Stock</li>
             <li>List View</li>
             <li>Categories</li>
           </ul>
         </section>
     </footer>
   </div>
  </body>
</html>
