<!DOCTYPE html>
<html>
  <head>
    <title>INVENTORY</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <div class="main-container">
     <header id="header">
            <h1>Welcome to PC (product counter)</h1>
     </header>
     <main>
         <%= yield %>
     </main>
     <footer class="footer">
         footer
     </footer>
   </div>
  </body>
</html>
