<!DOCTYPE html>
<html>
  <head>
    <title>INVENTORY</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
     <header id="header">
            <h1>Welcome to XX</h1>
     </header>
     <main>
         main content
         <%= yield %>
     </main>
     <footer>
         footer
     </footer>

  </body>
</html>
