<!DOCTYPE html>
<html>
  <head>
    <title>INVENTORY</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  </head>
  <body>
    <div class="main-container">
     <header id="header">
            <!-- <h1>Welcome to PC (product counter)</h1> -->
     </header>
     <main>
         <%= yield %>
     </main>
     <footer class="footer">
         © Adri Forczek
         <section id="sitemap">
           <ul>
                <li><a href=""><h4>Stock</h4></a>
                  <ul>
                      <li><a href="/products">Full Stock View</a></li>
                      <li><a href="/stock_levels">Stock Levels</a></li>
                      <li><a href="/categories">Category View</a></li>
                  </ul>
                </li>
                <li><a href=""><h4>Add</h4></a>
                  <ul>
                      <li><a href="/new_product">New Product</a></li>
                      <li><a href="/new_category">New Category</a></li>
                      <li><a href="/new_manufacturer">New Manufacturer</a></li>
                  </ul>
                </li>
                <li><a href=""><h4>Update</h4></a>
                  <ul>
                      <li><a href="/products">Product</a></li>
                      <li><a href="/categories">Category</a></li>
                      <li><a href="/manufacturers">Manufacturer</a></li>
                  </ul>
                </li>
                <li><a href=""><h4>About</h4></a>
                  <ul>
                      <li><a href="/about">About Us</a></li>
                      <li><a href="/about">Contact</a></li>
                  </ul>
                </li>
                <li><a href="/"><h4>Log out</h4></a></li>

          </ul>
         </section>
     </footer>
   </div>
  </body>
</html>
