<section id="menu_bar">
  <nav id="menu">
    <ul>
        <li>
            <a href="#">View Stock</a>
            <ul class="hidden">
                <li><a href="/full_stock">Full Stock</a></li>
                <li><a href="/stock_levels">Stock Levels</a></li>
                <li><a href="/categories">Categories</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Sales</a>
            <ul class="hidden">
                <li><a href="#">Targets</a></li>
                <li><a href="#">Waste</a></li>
            </ul>
        </li>
        <li><a href="#">Messages?</a></li>
        <li><a href="/manufacturers">Manufacturers</a></li>
        <li><a href="/">Log Out!</a></li>
    </ul>
  </nav>
</section>
<article class="container">
    <h1> LIST OF YOUR MANUFACTURERS: </h1>
    <% for manufacturer in @manufacturers %>
        <p> <a href="/manufacturers/<%= manufacturer.id%>"> <%= manufacturer.name %> </a></p>
    <% end %>
</article>
