<article class="container">
  <section id="manufacturers">
      <h1> LIST OF YOUR MANUFACTURERS: </h1>
        <% for manufacturer in @manufacturers %>
            <p> <a href="/manufacturers/<%= manufacturer.id%>"> <%= manufacturer.name %> </a></p>
        <% end %>
      </br>
      <a href="/manufacturers/new_manufacturer" class="button">Add New Manufacturer</a>
  </section>
</article>
