<article class="container">
  <h1> Add a new item! </h1>
    <div id="new_item">
        <form method="post" action="/products">

          <label for="name">Name: </label>
          <input id="name" type="text" name="name"/>
          <br>

          <label for="manufacturer_select">Select manufacturer:</label>
          <select id="manufacturer_select" type="text" name="manufacturer_id">
              <% for manufacturer in @manufacturers %>
              <option value=<%=manufacturer.id%>><%= manufacturer.name%></option>
              <% end %>
          </select>
          <br>

          <label for="category_select">Select category:</label>
          <select id="category_select" type="text" name="category_id">
              <% for category in @categories %>
              <option value=<%=category.id%>><%= category.name%></option>
              <% end %>
          </select>
          <br>

          <label for="quantity">Quantity:</label>
          <input id="quantity" type="number" name="quantity"/>
          <br>

          <label for="volume">Volume:</label>
          <input id="volume" type="text" name="volume"/>
          <br>

          <label for="description">Description:</label>
          <input id="description" type="textarea" name="description"/>
          <br>

          <label for="ideal_amount">Ideal Amount:</label>
          <input id="ideal_amount" type="number" name="ideal_amount"/>
          <br>

          <input type="submit" value="Add New Product"/>

        </form>
      </div>
  </article>
