<article class="container">
  <h1> Add a new category! </h1>
    <div id="new_item">
        <form method="post" action="/categories">

          <label for="name">Name: </label>
          <input id="name" type="text" name="name"/>
          <br>

          <input name="myFile" type="file">

          <input type="submit" value="Add Category to Database"/>

        </form>
      </div>
  </article>
