<article class="container">
  <h1> INFO ABOUT PRODUCT: </h1>
  <div id="new_item">

    <h1> <%= @product.name %> </h1>

    <h1> Delivered by: <a href="/manufacturers/<%= @manufacturer.id%>"> <%= @manufacturer.name %> </a> </h1>
  </div>
</div>
