/* GENERAL */

*:before,
*:after {
 box-sizing: border-box;
}

body {
    border: 15px solid #B28564;
}

html,
body {
    background-color: #fff6e8;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-container {
   overflow: hidden;
   display: block;
   position: relative;
   background-image: url('img/bottle.jpg');
   background-size:cover;
   min-height: 800px;
}

#header, h1 {
  text-align: center;
  padding-top: 24px;
}

.container {
  max-width: 1200px;
  margin: 50px auto 100px;
  background-color: #eee;
}

p {
  line-height: 18px;
}

a {
  color: white;
  text-decoration: none;
}

p a:hover {
   text-decoration: underline;
}

ul, ol {
  list-style: none;
}

.main_image img{
  width: 100%;
}

/* BUTTON */

.button_div input{
    display:block;
    margin: 0px auto;
    position: absolute;
    left: 700px;
    top: 400px;
}

.button_div input[type=submit]{
    font-size: 100px;
    padding: 40px 100px;
    background: rgba(0,0,0,0);
    color: #F4EADA;
    box-shadow: inset 0 0 0 3px #F4EADA;
}

.button_div input[type=submit]:hover {
    background-color: #F6EEE1;
    color: #365663;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: none;
}

input[type=submit], a.button {
    background-color: #E8D2AE;
    color: #365663;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
    padding: 20px;
}

input[type=submit]:hover, a.button:hover {
    color: white;
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
    font-weight: normal;
}

#login_image {
    height: 100vh;
    background-image: url('img/open.jpg');
}

/* MENU */

#menu_bar {
    width: 100%;
    background: #2f3036;
}

#menu {
    width: 755px;
    margin: 0px auto;
    height: 50px;
}

#menu_bar ul {
    list-style-type: none;
    margin:0;
    padding:0;
    position: absolute;
    z-index: 999;
}

#menu_bar li {
    display: inline-block;
    float: left;
    margin-right: 1px;
}

#menu_bar li a {
    display:block;
    min-width:150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}

#menu_bar li ul {
    display: none;
}

#menu_bar li ul li {
    display: block;
    float: none;
}

#menu_bar li ul li a {
    width: auto;
    min-width: 110px;
    padding: 0 20px;
}

#menu_bar ul li a:hover + .hidden, #menu_bar li ul:hover {
    display: block;
}

#menu_bar li:hover a {
    background: #85BA4D;
}

#menu_bar li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
    overflow: visible;
}

#menu_bar li:hover ul a:hover {
    background: #85BA4D;
    color: #fff;
}

#menu_bar li a#exit{
	  overflow:hidden;
}

#menu_bar li a#exit:before {
    /* icon unicode */
    font-family: FontAwesome;
  	content:"\f209";
   	position: relative;
  	left: -60px;
  	transition: all 200ms ease;
}

#menu_bar li a#exit:hover:before {
	  left: -15px;
}

/* MANUFACTURERS */

#manufacturers, #categories {
    padding-bottom: 60px;
    text-align: center;
    min-height: 600px;
}

#manufacturers a, #categories a {
    color: black;
}

/* ADD NEW ITEM / PRODUCT STYLE */

#new_item {
    border: 1px solid #462521;
    padding: 10px 30px;
    background-color: #ccc;
    min-height: 500px;
}

#new_item input[type=text], #new_item input[type=number], #new_item select, #new_item [type=textarea] {
    width: 100%;
    border: 1px solid #365663;
    resize: vertical;
    color: #365663;
    padding: 10px 5px;
    margin: 8px auto;
    font-size: 18px;
}

#new_item select {
    height: 40px;
    font-size: 14px;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
    border: 0;
    outline: 1px inset black;
    outline-offset: -1px;
}

#new_item label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* CATEGORIES.erb */

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px auto;
    padding-bottom: 100px;
    padding-top: 10px;
}

.flex-container > div a {
    position: relative;
    color: black;
}

.image p {
    position: relative;
    bottom: 85px;
    left: 10px;
    font-size: 54px;
    color: white;
}

.image {
    margin: 10px;
    width: 270px;
    height: 270px;
    position: relative;
    overflow: hidden;
    border: 4px solid #eee;
}

.image img {
     width: 270px;
    height: 270px;
  	backface-visibility: hidden;
    overflow:hidden;

    max-width: 100%;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.image:hover {
    border: 4px solid #2f3036;
}

.image img:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

}

/* FULL_STOCK.erb LIST VIEW */

.table_container {
    height: 720px;
}

.full_stock_table {
  margin: 40px auto;
}

table.full_stock_table {
  width: 100%;
  background-color: #f2f2f2;
  border-collapse: collapse;
  border: 1px solid #8e8e8e;
  color: black;
}

table.full_stock_table td {
  border-bottom: 1px solid #ccc;
  padding: 2px 10px;
}

table.full_stock_table th {
  border-color: #404040;
  padding: 8px 10px;
}

table.full_stock_table thead {
  background-color: #404040;
  text-align: left;
  line-height: 18px;
  color: white;
}

table.full_stock_table a {
  color: black;
}

.text-center {
  text-align: center;
}

table.full_stock_table input[type=image] {
  width: 30px !important;
  height: 30px !important;
}


/*  PAGINATION  */

.pagination {
  padding: 20px 0px;
  align-items: baseline;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination a {
  color: black;
}

.pagination > div {
  margin: 0px 20px;
}


/* STOCK LEVELS */

#levels {
    display: flex;
    min-height: 500px;
    flex-direction: row;
    width: 600px;
    margin: 0px auto;
    position: relative;
    background-color: #eee;
    padding-top: 40px;
}

#levels .chart {
    display: table;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0px;
}

#levels .chart p {
    padding: 3px 0px;
}

#levels .chart p:last-child {
    margin-bottom: 4px;
    padding-bottom: 4px;
}

#levels .chart p:first-child {
    margin-top: 4px;
    padding-top: 4px;
}

#levels li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    width: 33%;
}

#levels li article {
    display: block;
    text-align: center;
    padding: 3px 0px;

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 10px 1em 0;
    display: block;
    text-align: center;
    word-wrap: break-word;
  }
}

#levels li h1 {
    position: relative;
    top: -15px;
}

.red {
  background-color: #D74F3F;
}

.amber {
  background-color: #FDB82D;
}

.green {
  background-color: #005D4B;
}

/* PRODUCT PAGE */

.product_view {
  padding-bottom: 100px;
}

.product_image {
  height: 500px;
  width: 500px;
  background-color: white;
  margin-left: 60px;
  float: left;
}

.product_image img {
  height: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}

.product_content {
  height: 500px;
  width: 500px;
  float: left;
  margin-left: 30px;
}

.product_content a {
  color: #2f3036;
}

.product_content h1 {
  text-align: left;
}

/* ABOUT */

.about {
  width: 600px;
  margin: 0px auto;
  padding: 18px;
}

.about p {
  font-size: 21px;
}

.about h1 {
  color: black;
  font-size: 36px;
}

.about h2 {
  text-align: center;
}

.about input[type=checkbox] {
  float: left;
  margin-right: 10px;
}

/* FOOTER */

.footer {
  height: 240px;
  width: 100%;
  background-color: #2f3036;
  color: #365663;
  padding: 10px 0px;
  font-size: 24px;
}

/* SITEMAP */

#sitemap {
  max-width: 980px;
  margin: 0 auto;
  color: white;
}

.footer > section > ul > li {
    float: left;
    width: 20%;
    padding-left:0;
}

.footer > section > ul > li h4 {
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 16px;
    text-align: left;
}

.footer > section > ul > li > ul > li {
    text-align: left !important;
}

.footer > section > ul > li > ul > li a {
    font-size: 16px;
    line-height: 22px;
}
