/* BASIC LAYOUT */

*:before,
*:after {
 box-sizing: border-box;
}

html,
body {
  background-color: #365663;
  color: #85BA4D;
  height: 100%;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-container {
 min-height: 100vh;
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 200px;
}

#header, h1 {
  text-align: center;
}

.container {
  width: 960px;
  margin: 40px auto 100px;
}

p {
  max-height: 20px;
}

a {
  color: white;
  text-decoration: none;
}

/* BUTTON */

.button_div input{
  display:block;
  margin: 0px auto;
  font-size: 30px;
  padding: 30px;
}

input[type=submit] {
    background-color: #85BA4D;
    color: #365663;
    padding: 20px;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    color: white;
}

#login_image {
  width: 260px;
  margin: 0px auto;
}

/* MENU */

#menu_bar {
    width: 100%;
    background: #2f3036;
}

#menu {
    width: 755px;
    margin: 0px auto;
    height: 50px;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    position: absolute;
}
li {
    display: inline-block;
    float: left;
    margin-right: 1px;
}

li a {
    display:block;
    min-width:150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}

li ul {
    display: none;
}

li ul li {
    display: block;
    float: none;
}

li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

li:hover a {
    background: #85BA4D;
}

li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
    overflow: visible;
}

li:hover ul a:hover {
    background: #85BA4D;
    color: #fff;
}

/* ADD NEW ITEM STYLE */
#new_item {
  border: 2px solid #2874A6;
  padding: 10px 30px;
  background-color: #ccc;
}

#new_item input[type=text], #new_item input[type=number], #new_item select {
    width: 100%;
    border: 1px solid #ccc;
    resize: vertical;
    color: #365663;
    padding: 10px;
    margin: 8px auto;
}

#new_item label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* CATEGORIES.erb */

.flex-container {
  width: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px auto;
}

.flex-container > div {
  margin: 5px;
  border: 2px solid #2874A6;
  width: 150px;
  height: 150px;
}

.flex-container > div a {
  position: relative;
  bottom: 45px;
  left: 10px;
}

.image img {
  width: 150px;
  height: 150px;
	backface-visibility: hidden;
	opacity: 1;
  overflow:hidden;
}

.image:hover {
    transform: scale(1.1);
}

/* FULL_STOCK.erb LIST VIEW */

.full_stock_table {
  margin: 40px auto;
}

table.full_stock_table {
  width: 100%;
  background-color: #eee;
  border-collapse: collapse;
  border: 1px solid #31873d;
  color: black;
}

table.full_stock_table td, table.full_stock_table th {

  border-width: 2px;
  border-color: #31873d;
  border-style: solid;
  padding: 2px 10px;
}

table.full_stock_table thead {
  background-color: #76ce1b;
}

.text-center {
  text-align: center;
}

.ellipsis {
    max-width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* STOCK LEVELS */

#levels {
  border: solid 1px black;
  display: flex;
  min-height: 500px;
  flex-direction: row;
  width: 400px;
  margin: 0px auto;
}

.box {
  flex-basis: 10px;
  flex-grow: 1;
  text-align: center;
}

.box a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Tahoma;
}

.box a:hover {
  font-size: 22px;
}

.box img {
   width: 100px;
}

.red {
  background-color: #D74F3F;
}

.amber {
  background-color: #FDB82D;
}

.green {
  background-color: #005D4B;
}


/* FOOTER */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background-color: #85BA4D;
  color: #365663;
  padding: 10px;
  font-size: 40px;
  text-align: center;
}
